@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Montserrat:wght@500&display=swap');

:root {
  /* Color palette */
  --accent-color: #b6760b;
  --primary-color: #bc4026;
  --secondary-color: #c5c7c9;
  --primary-font-color: #17150a;
  /* Web site fonts */
  --h-font-family: 'Josefin Sans', sans-serif;
  --p-font-family: 'Montserrat', sans-serif;
  /* Font size */
  --h1-font-size: 24px;
  --h2-font-size: 18px;
  --p-font-size: 12px;
}


@media only screen and (min-width: 32.5em) {

  header,
  footer {
    display: flex;
    justify-content: space-around;
    text-decoration:solid var(--primary-color);
  }

  header picture :nth-child(2) {
    width: 360px;
    height: max-content;
    padding: 12px 0 9px 0;
  }

  footer {
    padding: 12px 12px 12px 12px;
  }
}