@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Montserrat:wght@500&display=swap');

:root {
  /* Color palette */
  --accent-color: #b6760b;
  --primary-color: #bc4026;
  --secondary-color: #c5c7c9;
  --primary-font-color: #17150a;
  /* Web site fonts */
  --h-font-family: 'Josefin Sans', sans-serif;
  --p-font-family: 'Montserrat', sans-serif;
  /* Font size */
  --h1-font-size: 24px;
  --h2-font-size: 18px;
  --p-font-size: 12px;
}


@media only screen and (min-width: 32.5em) {

  header span img {
    display: inline;
  }

  nav section.open {
    display: grid;
    table-layout: auto;
  }

  nav section a {
    border-top: 0;
  }

  footer {
    padding: 12px 12px 12px 12px;
  }

  main div section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  main div section:nth-child(1) {
    grid-column: 1/2;
  }

  main div section:nth-child(2) {
    grid-column: 2/3;
  }

  main div section:nth-child(3) {
    grid-column: 3/ span 4;
  }

  footer img {
    width: 25%;
    height: max-content;
  }
}