@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&family=Noto+Sans+Mono:wght@500&family=Open+Sans:wght@500&display=swap');

:root {
  /* Color palette */
  --accent-color: #593c32;
  --primary-color: #a67360;
  --secondary-color: #a3a698;
  --complementary-color: #242625;
  --body-background-color: #0c0d0c;
  /* Web site fonts */
  --h1-font-family: 'Fira Code', monospace;
  --h2-font-family: 'Noto Sans Mono', monospace;
  --p--font-family: 'Open Sans', sans-serif;
  /* Font size */
  --h1-font-size: 1.5rem;
  --h2-font-size: .9rem;
  --p-font-size: 1.2rem;
}

@media only screen and (min-width: 32.5em) {
  #content {
    width: auto;
    overflow: hidden;
    padding: 9px 0 9px 0;
    margin: 0 auto;
  }

  header {
    align-items: center;
    font-size: 2.8rem;
  }

  img {
    width: 240px;
  }

  section h2 {
    font-size: 2.2rem;
  }

  section ul li {
    font-size: var(--p-font-size);
    font-family: var(--p--font-family);
    list-style-type: square;
  }
  a {
    font-size: 1.2rem;
  }

  footer {
    font-size: .7rem;
  }
}