@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&family=Noto+Sans+Mono:wght@500&family=Open+Sans:wght@500&display=swap');

:root {
  /* Color palette */
  --accent-color: #167B9C;
  --primary-color: #91795F;
  --secondary-color: #B9B9CC;
  --complementary-color: #2D2D2D;
  --background-color: #F1F1F3;

  /* Web site fonts */
  --h-font-family: 'Noto Sans Mono', monospace;
  --p-font-family: 'Open Sans', sans-serif;

  /* Font size */
  --h-font-size: 4.75rem;
  --p-font-size: .6rem;
}


@media only screen and (min-width: 32.5em) {
  #content {
    width: 720px;
    overflow: hidden;
    padding: 9px 0 9px 0;
    margin: 0 auto;
  }

  header {
    font-size: var(--h-font-family);
    text-align: left;
  }

  header {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    margin: 24px;
  }

  footer {
    margin: 24px;
  }

  img {
    width: 240px;
  }

  section ul li {
    font-family: var(--p-font-family);
    list-style-type: square;
  }
  }
}