@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&family=Noto+Sans+Mono:wght@500&family=Open+Sans:wght@500&display=swap');

:root {
  /* Color palette */
  --accent-color: #593c32;
  --primary-color: #a67360;
  --secondary-color: #a3a698;
  --complementary-color: #242625;
  --body-background-color: #0c0d0c;
  /* Web site fonts */
  --h1-font-family: 'Fira Code', monospace;
  --h2-font-family: 'Noto Sans Mono', monospace;
  --p--font-family: 'Open Sans', sans-serif;
  /* Font size */
  --h1-font-size: .75rem;
  --h2-font-size: .45rem;
  --p-font-size: .6rem;
}

body {
  background-color: var(--body-background-color);
}

#content {
  width: auto;
  height: max-content;
  overflow: hidden;
  padding: 9px 0 9px 0;
  border-radius: 12px;
  background-color: var(--secondary-color);
}

header,
footer {
  display: flex;
  flex-direction: column;
  font-family: var(--heading-font);
  text-align: center;
  text-decoration: none;
  padding: 3px;
  background-color: var(--primary-color);
}

header {
  align-items: center;
}

img {
  width: 240px;
  padding-top: 6px;
  border-radius: 12px;
}

nav,
footer {
  flex-direction: column;
}

section {
  padding: 6px 36px 6px 36px;
}

section h2 {
  font-size: var(--h1-font-size);
  font-family: var(--p-font-family);
}

section ul,
section ul li {
  font-size: 1rem;
  font-family: var(--p--font-family);
}

a {
  font-size: .9rem;
  font-weight: 600;
  font-family: var(--h2--font-family);
  color: var(--body-background-color);
  text-decoration: none
}

footer {
  align-items: flex-end;
  text-align: right;
  padding-right: 12px;
  font-size: .5rem;
  font-family: var(--h2-font-family);
}