@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Serif:opsz,wght@8..144,500&display=swap");

:root {
  /* Color palette */
  --accent-color: #593c32;
  --primary-color: #a67360;
  --secondary-dolor: #a3a698;
  --complementary-color: #242625;
  --body-background-color: #0c0d0c;
  /*Web site fonts*/
  --heading-font: "Roboto Serif";
  --paragraph-font: "Roboto", sans-serif;
}

#content {
  width: 360px;
  height: max-content;
  margin: 0 auto;
  background-color: var(--secondary-dolor);
  overflow: hidden;
  border-radius: 12px;
  padding-top: 12px;
}

header,
footer {
  background-color: var(--primary-color);
  font-family: var(--heading-font);
  text-decoration: none;
}
header {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
}

body {
  background-color: var(--body-background-color);
}

a {
  color: var(--accent-color);
  font-weight: bold;
  text-decoration: ;
}

img {
  width: 106px;
  height: 144px;
  padding-top: 3px;
  padding-left: 3px;
}

h1,
h2 {
  color: var(--body-background-color);
  text-align: center;
  text-decoration: none;
  padding: 3px;
}

section {
  font-family: var(--paragraph-font);
}

section h2 {
  color: var(--complementary-color);
}

footer {
  font-size: 7px;
  font-weight: lighter;
}

@media screen and (min-width: 200px) and (max-width: 500px) {
  html {
    max-width: 700px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  footer {
    flex-direction: column;
  }
}
